[Unit]
Description=This shell script takes care of starting and stopping sixad

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sixad -s
ExecStart=/bin/touch /var/lock/subsys/sixad

ExecStop=/bin/killproc sixad
ExecStop=/bin/rm -f /var/lock/subsys/sixad

[Install]
WantedBy=multi-user.target
